
body{
background-color: #D0E8F2;


}

hr {

border-style: dotted none none none;
border-color: #1A374D;
border-width: 5px;

width: 10%;
}


h3{

  color: #064663;


}


h1{


  color: #064663;


}
